<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ColorGeneratorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Apphud" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Apphud.Main" />
        <activity
            android:name=".ui.paywall.PaywallActivity"
            android:exported="false"
            android:theme="@style/Theme.Apphud.Main"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />  <!-- Facebook init -->
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" /> <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_test_pf8A6wRjWrKDk9HpsJwaYdoiBEj3GLyZ" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_live_gp5F8BKiYzTFo6RhuHAg1jbhwujXTLzV" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" />
    </application>

</manifest>