<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apphud.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name=".ApphudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory = "true"
            android:theme="@style/Theme.DemoApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory = "true"
            android:theme="@style/Theme.DemoApp.NoActionBar">
        </activity>

        <!-- Facebook init -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="false"/>
        <meta-data android:name="com.facebook.sdk.AutoInitEnabled" android:value="false"/>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_test_pf8A6wRjWrKDk9HpsJwaYdoiBEj3GLyZ" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_live_gp5F8BKiYzTFo6RhuHAg1jbhwujXTLzV" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" />

        <!-- Mixpanel init -->
        <meta-data android:name="com.mixpanel.android.MPConfig.EnableDebugLogging" android:value="true" />

        <!-- Pushwoosh -->
        <meta-data android:name="com.pushwoosh.appid" android:value="80B76-6DB3C" />
        <meta-data android:name="com.pushwoosh.senderid" android:value="@string/fcm_sender_id" />
        <meta-data android:name="com.pushwoosh.log_level" android:value="DEBUG" />
    </application>

</manifest>